<div ng-controller="SprintFormController">
  <h2>Number of sprints:</h2>
  <br>
  <select ng-model="number" ng-options="number for number in size.range" ng-change="textbox()">
    <br><br>
    <option value="">Number of sprints</option>
    <br>
  </select>

  <!-- TODO: REFACTOR form tag into nested view -->

  <form name="sprintSignup" ng-model="number" ng-show="showMe" ng-submit="submit()">
    <div ng-repeat="textbox in textboxes track by $index">
      <br>
      <input type="text" ng-model="textbox.name" placeholder="Sprint title">
      <br>
    </div>

    <!-- TODO: BUILD form validation -->
    <br>
    <button >Submit Sprint Roster</button>
  </form>
  </div>
</div>
